
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="search"],
textarea {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: .25em;
  border: 1px solid #E5E6EC;
}

form label {
  display: block;
}
