
/**
 * Table Styles
 */

table {
  width: 100%;
  margin: $space 0;
  border: 1px solid $gray;

  th,
  td {
    padding: $space-half;
    border: 1px solid $gray;
  }

  th {
    text-align: center;
  }
}
